# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Banco de dados H2
database/
*.db
*.trace.db

# Logs
*.log
logs/

# Sistema Operacional
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear

# VS Code
.vscode/

# Outros
bin/
build/
out/
